<%- model_class = Solicitacao -%>
<div class="page-header">
  <h1 align='center'>Solicitações</h1>
</div>
<% if can? :manage, Solicitacao %>
  <%= render "admin" %>
<% elsif can? :create, Solicitacao %>
  <%= render 'padrao' %>
<% end %>