<div class="col-sm-12 col-md-12, row, well">
  <div class="col-sm-7 col-md-7, thumbnail, center">
    <div class="container">
      <div class="form-group, row">
        <div>
          <strong>Início:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.datetime_select(:inicio, :default => { :minute => 00 }) %>
        </div>
        <br>
        <%= f.link_to_remove "Remover este item", :class => 'btn btn-danger btn-xs' %>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-7, center">
    <div class="container">
      <div class="form-group, row">
        <div class="form-inline">
          <!-- <div> -->
          <strong>CH:</strong>&nbsp;&nbsp;<%= f.input :qnt_horas, :as => :float, :input_html => { :min => 0, :step => 0.5, :class => "special" }, label: false %>
        </div>
      </div>
    </div>
  </div>
</div>