<%- model_class = Aluno -%>
<div class="page-header">
  <h1 align='center'><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if can? :manage, :all %>
  <p>
    <%= link_to "Gerar Identidades Estudantis", alunos_path(format: "pdf" ),   :class  => 'btn btn-primary' %>
  </p>
<% end %>
<% if can? :manage, Aluno %>
  <%= render "leitura_admin" %>
<% else %>
  <%= render 'index_admin' %>
<% end %>