<p>
  <%= f.label :conteudo, "Resposta" %>
  <%= f.text_field :conteudo %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %>
</p>

<p>
  <= f.label :conteudo, "Resposta" %>
  <= f.text_field :conteudo %>
  <= f.hidden_field :_destroy %>
  <= f.label :_destroy, "Remove" %>
</p>