<p>
<!--<= tag.input :name, label: "Tag Name"%>-->
  <%= f.input :inicio %>
  <!--<= builder.input :pesquisa_id, input_html: {value: @pesquisa.id}, as: :hidden%>-->
  <!--<= f.check_box :_destroy %>
  <!<= f.label :_destroy, "Remover registro?" %>-->
</p>