<div class="panel panel-default">
  <div id="sanfonatres" class="panel-collapse collapse">
    <table class="table table-striped table-hover table-bordered table-condensed">
      <tr>
        <th>Valor</th>
        <th>Gravidade</th>
        <th>Urgência</th>
        <th>Tendência</th>
      </tr>
      <tr>
        <td>1</td>
        <td>sem gravidade</td>
        <td>pouco urgente</td>
        <td>não irá mudar</td>
      </tr>
      <tr>
        <td>2</td>
        <td>pouco grave</td>
        <td>pode esperar</td>
        <td>irá piorar a longo prazo</td>
      </tr>
      <tr>
        <td>3</td>
        <td>grave</td>
        <td>urgente, merece atenção no curto prazo</td>
        <td>irá piorar a médio prazo</td>
      </tr>
      <tr>
        <td>4</td>
        <td>muito grave</td>
        <td>muito urgente</td>
        <td>irá piorar a curto prazo</td>
      </tr>
      <tr>
        <td>5</td>
        <td>extremamente grave</td>
        <td>necessidade de ação imediata</td>
        <td>irá piorar rapidamente</td>
      </tr>
    </table>
  </div>
</div>
<!--   enum gravidade: { ''=> 1, ''=>2, ''=> 3, ''=> 4, ' '=> 5}
  enum urgencia: {''=> 1, ''=>2, ''=> 3, ''=> 4, ''=> 5}
  enum tendencia: {''=> 1, ''=>2, ''=> 3, ''=> 4, ''=> 5} -->