<div class="page-header">
  <h3>Caro (a) <strong><%= @pessoa.nome.split(/ /)[0].titleize %></strong>,</h3>
</div>
<div class="col-sm-12 col-md-12, row, well"><img alt="" src="/ckeditor_assets/pictures/12/content_i-estudantil-xsm.png" style="width: 299px; height: 188px; border-width: 0px; border-style: solid; margin: 2px; float: left;" />
  <br>
  <br>
  <p align="center">Para solicitar sua Identidade Estudantil, voc&ecirc; dever&aacute; atualizar algumas informa&ccedil;&otilde;es que podem ser &uacute;teis para aprimorar esta nova fase de atendimento.</p>
  <p align="center">Pedimos que os itens requeridos sejam informados com sinceridade.</p>
  <div align="center"><a class="btn btn-primary" href="/validacao/dados_pessoais">Vamos l&aacute;?</a></div>
</div>
<p>&nbsp;</p>