<div class="col-sm-12 col-md-12">
  <p style="margin-left: 40px;">Atualmente, Grupo de Pesquisa e Extens&atilde;o em Tecnologia da Informa&ccedil;&atilde;o possui uma Coordena&ccedil;&atilde;o com 3 servidores</p>
  <p>&nbsp;</p>
  <table align="center" border="1" cellpadding="1" cellspacing="1" height="132" width="900">
    <tbody>
      <tr>
        <td colspan="4" style="text-align: center;"><strong>Coordena&ccedil;&atilde;o</strong></td>
      </tr>
      <tr>
        <td style="text-align: center;"><strong>Nome</strong></td>
        <td style="text-align: center;"><strong>Contato</strong></td>
        <td style="text-align: center;"><strong>Cargo</strong></td>
        <td style="text-align: center;"><strong>Fun&ccedil;&atilde;o</strong></td>
      </tr>
      <tr>
        <td style="text-align: center;">Olavo Nylander Brito Neto</td>
        <td style="text-align: center;">olavo.brito@ifap.edu.br</td>
        <td style="text-align: center;">Docente</td>
        <td style="text-align: center;">Coordenador</td>
      </tr>
      <tr>
        <td style="text-align: center;">Thiego Maciel Nunes</td>
        <td style="text-align: center;">thiego.nunes@ifap.edu.br</td>
        <td style="text-align: center;">Docente</td>
        <td style="text-align: center;">Coordenador</td>
      </tr>
      <tr>
        <td style="text-align: center;">Ruan Pablo de M. Vieira</td>
        <td style="text-align: center;">ruan.vieira@ifap.edu.br</td>
        <td style="text-align: center;">T&eacute;cnico em Audiovisual</td>
        <td style="text-align: center;">Pesquisador</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <p style="margin-left: 40px;">Composto por 18 pesquisadores discentes, o GTE desenvolve atividades em variadas plataformas.</p>
  <table align="center" border="1" cellpadding="1" cellspacing="1" height="519" width="907">
    <tbody>
      <tr>
        <td colspan="3" style="text-align: center;"><strong>Pesquisadores</strong></td>
      </tr>
      <tr>
        <td style="text-align: center;"><strong>Nome</strong></td>
        <td style="text-align: center;"><strong>Contato</strong></td>
        <td style="text-align: center;"><strong>&Aacute;rea de interesse</strong></td>
      </tr>
      <tr>
        <td style="text-align: center;">Al&iacute;cia Gabrieli Lobato Novais</td>
        <td style="text-align: center;">alicialobatonovais@gmail.com</td>
        <td style="text-align: center;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: center;">Andre Nat&atilde; Teles dos Santos</td>
        <td style="text-align: center;">dresantosz@gmail.com</td>
        <td style="text-align: center;">Algoritmo, Html 5</td>
      </tr>
      <tr>
        <td style="text-align: center;">Arthur Francisco Ara&uacute;jo da Silva</td>
        <td style="text-align: center;">contato@arthuraraujo.com.br</td>
        <td style="text-align: center;">Php, Joomla</td>
      </tr>
      <tr>
        <td style="text-align: center;">David Cesar Pinto da Silva</td>
        <td style="text-align: center;">silva.davidcesar@gmail.com</td>
        <td style="text-align: center;">Java, Arduino, C++, Pascal, Python, Html 5, Php</td>
      </tr>
      <tr>
        <td style="text-align: center;">Dayana Camara Souza</td>
        <td style="text-align: center;">dhiffanysouza@gmail.com</td>
        <td style="text-align: center;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: center;">Denis Santos da Cruz</td>
        <td style="text-align: center;">denis-santoss@hotmail.com</td>
        <td style="text-align: center;">Arduino, C, C++, Android, Html 5</td>
      </tr>
      <tr>
        <td style="text-align: center;">Giorgio Lucas</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">C++, Html 5</td>
      </tr>
      <tr>
        <td style="text-align: center;">Gustavo Henrique Albuquerque</td>
        <td style="text-align: center;">gustavohrq.alb@gmail.com</td>
        <td style="text-align: center;">Ruby on Rails, Postgres, MongoDB, Html 5, Css e Linux</td>
      </tr>
      <tr>
        <td style="text-align: center;">Ilgner Gleidson Corr&ecirc;a de Moraes</td>
        <td style="text-align: center;">ilgner@live.com</td>
        <td style="text-align: center;">Java, C++, Html 5, Php</td>
      </tr>
      <tr>
        <td style="text-align: center;">Italo Weyder Teles Marinho</td>
        <td style="text-align: center;">italoweyder@gmail.com</td>
        <td style="text-align: center;">Python, Java</td>
      </tr>
      <tr>
        <td style="text-align: center;">Jeov&aacute; Guilherme de Carvalho Filho</td>
        <td style="text-align: center;">jguilhermea@gmail.com</td>
        <td style="text-align: center;">Ruby on Rails, Postgres, MongoDB, Html 5, Css e Linux</td>
      </tr>
      <tr>
        <td style="text-align: center;">Jo&atilde;o Santana</td>
        <td style="text-align: center;">joaosantana1998@gmail.com</td>
        <td style="text-align: center;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: center;">L&uacute;cio Fl&aacute;vio Cutrim Henderson</td>
        <td style="text-align: center;">fvhenderson24@gmail.com</td>
        <td style="text-align: center;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: center;">Marcos Abreu de Oliveira</td>
        <td style="text-align: center;">marcosabr97@gmail.com</td>
        <td style="text-align: center;">Algoritmo, Html 5, CSS, Linux</td>
      </tr>
      <tr>
        <td style="text-align: center;">Paulo Henrique Gon&ccedil;alves Bacelar</td>
        <td style="text-align: center;">henrique.phgb@gmail.com</td>
        <td style="text-align: center;">Java, C++, Html 5, Php</td>
      </tr>
      <tr>
        <td style="text-align: center;">Pedro Souza</td>
        <td style="text-align: center;">pedrossouza01@gmail.com</td>
        <td style="text-align: center;">Ruby on Rails, Android, C#, Html 5, Css, Unity, Linux</td>
      </tr>
      <tr>
        <td style="text-align: center;">Raingredi Souza Mendes</td>
        <td style="text-align: center;">raingredi@gmail.com</td>
        <td style="text-align: center;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: center;">Samuel Rodrigues</td>
        <td style="text-align: center;">samuelrv1@hotmail.com</td>
        <td style="text-align: center;">C++, Html 5</td>
      </tr>
    </tbody>
  </table>
</div>