<p style="margin-left: 40px;">Atuando em frentes de trabalho que se encontram em expansão, o GTE-Ifap acompanha os seguintes projetos:</p>
<table align="center" border="1" cellpadding="1" cellspacing="1" height="164" width="712">
  <thead>
    <tr>
      <th scope="col" style="text-align: center;"><strong>Nome</strong></th>
      <th colspan="4" rowspan="1" scope="col" style="text-align: center;"><strong>Descri&ccedil;&atilde;o</strong></th>
      <th scope="col" style="text-align: center;"><strong>Infraestrutura</strong></th>
      <th scope="col" style="text-align: center;"><strong>Orientador</strong></th>
      <th scope="col" style="text-align: center;"><strong>Orientador</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="vertical-align: middle; text-align: center;">
        <table align="center" border="0" cellpadding="1" cellspacing="1" height="78" width="180">
          <tbody>
            <tr>
              <td><img alt="" src="/ckeditor_assets/pictures/4/content_malohkinha_oficial.png" style="width: 70px; height: 70px; float: left;" /></td>
              <td>Malohka</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td colspan="4" rowspan="1" style="text-align: justify;">Gerenciador de&nbsp; conte&uacute;do din&acirc;mico e semi-est&aacute;tico com acesso de cria&ccedil;&atilde;o, postagem e controle de informa&ccedil;&otilde;es baseado em perfis de usu&aacute;rios.</td>
      <td style="text-align: center;">Ruby 2.1.2, Rails 4.1.5 e PostgreSQL</td>
      <td style="text-align: center;">Ruan Vieira, Jeov&aacute; Filho, Gustavo Albuquerque e Pedro Souza</td>
      <td style="text-align: center;">Olavo Nylander</td>
    </tr>
    <tr>
      <td>
        <table border="0" cellpadding="1" cellspacing="1" height="78" width="186">
          <tbody>
            <tr>
              <td><img alt="" height="60" src="/ckeditor_assets/pictures/12/content_i-estudantil-xsm.png" style="float: left;" width="95" /></td>
              <td style="text-align: center;">I-estudantil</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td colspan="4" rowspan="1" style="text-align: justify;">Controlador de solicita&ccedil;&otilde;es que utiliza modelos polim&oacute;rficos.</td>
      <td style="text-align: center;">Ruby 2.1.2, Rails 4.1.5 e PostgreSQL</td>
      <td style="text-align: center;">Ruan Vieira, Jeov&aacute; Filho e Gustavo Albuquerque</td>
      <td style="text-align: center;">Olavo Nylander</td>
    </tr>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="1" cellspacing="1" height="84" width="165">
          <tbody>
            <tr>
              <td><img alt="" src="/ckeditor_assets/pictures/8/content_github.png" style="width: 70px; height: 70px;" /></td>
              <td style="text-align: center;">GTE-ifap no Github</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td colspan="4" rowspan="1" style="text-align: justify;">Produ&ccedil;&atilde;o documental para configura&ccedil;&atilde;o de ambientes de desenvolvimento em Ruby on Rails, Postgres, Php, Joomla, Java, Arduino, C++, Pascal e Python.</td>
      <td style="text-align: center;"><a href="https://github.com/gte-ifap" target="_blank">https://github.com/gte-ifap</a></td>
      <td style="text-align: center;">Todos os integrantes por grupos de afinidade de linguagem</td>
      <td style="text-align: center;">Olavo Nylander</td>
    </tr>
  </tbody>
</table>