<div class="col-sm-12 col-md-12, row, well">
  <table class="table table-striped table-hover table-bordered table-condensed">
    <tr>
      <th>Tarefa</th>
    </tr>
    <tr>
      <td>
        <p>hora:<b><%= periodo.inicio.strftime("%H:%M") %></b> unidade <%= periodo.componente.nome %></p>
      </td>
    </tr>
  </table>
</div>