<!--VERIFICAR

Started GET "/resources/demos/style.css" for 127.0.0.1 at 2015-02-16 15:21:24 -0300

ActionController::RoutingError (No route matches [GET] "/resources/demos/style.css"):-->


<h1>Editar notícia</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @noticia %> |
<%= link_to 'Voltar', noticias_path %>
